@import "../../../data/styles.css";
.social,
.email-wrapper {
	display: flex;
	padding-bottom: 20px;
}

.social a,
.email-wrapper a {
	text-decoration: none;
}

.social-icon {
    font-size: 20px; /* Adjust this value as needed */
    color: var(--secondary-color);
}

.social-text {
	color: var(--secondary-color);
	padding-left: 30px;
	margin-top: -20px;
	font-weight: 600;
	font-size: 14px;
}

.email::before {
	content: "";
	display: block;
	padding-top: 20px;
	border-top: 3px solid #f4f4f5;
	margin-top: 20px;
}

.email-wrapper {
	padding-top: 20px;
}

/* Add this style to your existing styles.css file */

/* Dark Mode Styles for Social and Email */
body.dark-mode .social-icon {
	color: #fff; /* Change to your dark mode color */
  }
  
  body.dark-mode .social-text {
	color: #fff; /* Change to your dark mode color */
  }
  
  body.dark-mode .email::before {
	border-top-color: #4d4d4d; /* Change to your dark mode color */
  }
  
