@import "../../../data/styles.css";

.nav-container {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 3vh;
	z-index: 999;
}

.nav-background {
    width: 250px; /* Adjust this value as needed */
    height: 40px;
    padding-left: 0%;
    padding-right: 0%;
    background: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}
.nav-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	margin-left: -16px;
	margin-right: 20px;
	margin-top: 11px;
}

.nav-item {
	font-weight: bold;
	font-size: 80%;
}

.nav-item.active a {
	color: var(--link-color) !important;
}

.nav-item a {
	text-decoration: none;
	color: var(--primary-color);
}

.nav-item a:hover {
	color: var(--link-color);
	transition: color 0.3s ease-in-out;
}

@media (max-width: 600px) {
	.navbar {
		margin-left: 25%;
		margin-right: 25%;
		width: 80%;
		font-size: 80%;
	}

	.nav-background {
		width: 80%;
		height: 40px;
	}

	.nav-item {
		font-weight: bold;
	}
}


/* Add this style to your existing styles.css file */

/* Dark Mode Switch */
.dark-mode-switch {
	display: flex;
	align-items: center;
	margin-left: 10px; /* Adjust the spacing as needed */
  }
  
  .dark-mode-switch span {
	margin-right: 8px;
	font-size: 14px; /* Adjust the font size as needed */
  }
  
  .dark-mode-switch .react-switch-bg {
	background-color: #fff; /* Light mode background color */
  }
  
  .dark-mode-switch .react-switch-handle {
	background-color: #000; /* Dark mode handle color */
  }
  
  .dark-mode-switch .react-switch-mark {
	background-color: #aaa; /* Color of the mark when switch is off */
  }
  
  /* Add this class to adjust the position of the switch on smaller screens */
  @media (max-width: 600px) {
	.dark-mode-switch {
	  margin-left: auto;
	  margin-right: 10px; /* Adjust the spacing as needed */
	}
  }
  