

/* Set global styles */
:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --tertiary-color: #000000;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

.page-content {
  background-color: white;
  position: relative;
  height: 100vh; /* Fill the viewport height */
  width: 100vw; /* Fill the viewport width */
}

.content-wrapper {
  max-width: 90%; /* Adjust max-width as needed */
  margin: 0 auto;
  padding: 0 20px; /* Adjust horizontal padding as needed */
}

.title {
  font-size: 45px;
  font-weight: 700;
  width: 70%;
}

.subtitle {
  font-size: 16px;
  line-height: 28px;
  width: 70%;
  margin-top: 25px;
}

/* Homepage styles */
.homepage-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
}

.homepage-container {
  padding-top: 25px;
}

.homepage-first-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage-first-area-left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.homepage-first-area-right-side {
  display: flex;
  align-items: center;
}

.homepage-image-container {
  width: 370px;
  height: 370px;
}

.homepage-image-wrapper {
  overflow: hidden;
  border-radius: 10%;
  transform: rotate(3deg);
}

.homepage-image-wrapper img {
  width: 100%;
}

.homepage-socials {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 30px;
}

.homepage-social-icon {
  padding-right: 20px;
  font-size: 25px;
  transition: color 0.2s ease-in-out;
  color: var(--secondary-color);
}

.homepage-social-icon:hover {
  color: var(--primary-color);
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .homepage-first-area {
    flex-direction: column;
  }

  .homepage-first-area-left-side {
    width: 100%;
    order: 2;
  }

  .homepage-title {
    width: 100% !important;
    margin-top: 20px;
    order: 2;
  }

  .homepage-subtitle {
    width: 100% !important;
    margin-top: 10px;
    order: 3;
  }

  .homepage-first-area-right-side {
    width: 100%;
    order: 1;
  }

  .homepage-image-container {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 10px;
    order: 1;
  }

  .homepage-after-title {
    flex-direction: column;
  }
}

/* Dark mode */
body.dark-mode .homepage-container,
body.dark-mode .page-content {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark-mode .title,
body.dark-mode .subtitle {
  color: #ffffff;
}

body.dark-mode .homepage-image-container {
  background-color: #1e1e1e;
}

body.dark-mode .homepage-social-icon,
body.dark-mode .homepage-social-icon:hover {
  color: #ffffff;
}
